extends ./layout
block content
  table.table.table-striped.apartments
    for apartment in apartments
      tr
        td
          a(href="/apartment/#{apartment.sha1}")
            h2=apartment.title
